:root {
  --mianColor: #eaeaea;
  --secondaryColor: #fff;

  --mainText: black;
  --secondaryText: 4b5156;

  --borderColor: #c1c1c1;
  --themeDotBorder: #24292e;

  --previewBg: rgba(251, 249, 243, 0.8);
  --previewShadow: #f0ead6;
}

html,
body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: var(--mainText);
  font-family: "Russo One", sans-serif;
  font-weight: 500;
}

p,
li,
span,
label,
input,
textarea {
  color: var(--secondaryText);
  font-family: "Roboto Mono", monospace;
}

.s1 {
  background-color: var(--mianColor);
  border: 1px solid var(--borderColor);
}

.s2 {
  background-color: var(--secondaryColor);
  border: 1px solid var(--borderColor);
}

a {
  text-decoration: none;
  color: #17a2b8;
}

ul,
ol,
li {
  list-style: none;
}

h1 {
  font-size: 56px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}

.main-container {
  width: 1200px;
  margin: 0 auto;
}

.greeting-wraper {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 12em;
}

.intro-wraper {
  background-color: var(--secondaryColor);
  border: 1px solid var(--borderColor);
  border-radius: 5px 5px 0 0;
  -webkit-box-shadow: -1px 1px 3px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px 1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px 1px rgba(0, 0, 0, 0.75);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "nav nav"
    "left-column right-column";
}

.nav {
  grid-area: nav;
  border-bottom: 1px solid var(--borderColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--mianColor);
  border-radius: 5px 5px 0 0;
}

.dots-wraper {
  display: flex;
  padding: 10px;
}

.browser-dot {
  width: 15px;
  height: 15px;
  background-color: black;
  border-radius: 50px;
  margin: 5px;
  -webkit-box-shadow: -1px 1px 3px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px 1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px 1px rgba(0, 0, 0, 0.75);
}

#dot-1 {
  background-color: #fc6058;
}

#dot-2 {
  background-color: #fec02f;
}

#dot-3 {
  background-color: #2aca3e;
}

#navigator {
  margin: 0;
  padding: 10px;
}

#navigator li {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

#navigator a:hover{
  color: black;
}

.left-column {
  grid-area: left-column;
  padding-top: 50px;
  padding-bottom: 50px;
}

.left-column h5 {
  text-align: center;
  line-height: 0;
}

#profile-pic {
  color: var(--mianColor);
  display: block;
  margin: 0px auto;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 2px solid var(--borderColor);
}

#theme-options-wraper {
  display: flex;
  justify-content: center;
}

.theme-dot {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  margin: 5px;
  border: 2px solid var(--themeDotBorder);
  -webkit-box-shadow: -1px 1px 3px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px 1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px 1px rgba(0, 0, 0, 0.75);
}

.theme-dot:hover {
  border: 5px solid var(--themeDotBorder);
}

#light-mode {
  background-color: #fff;
}

#blue-mode {
  background-color: #192734;
}

#green-mode {
  background-color: #78866b;
}

#purpule-mode {
  background-color: #7e4c74;
}

#settings-note {
  text-align: center;
  font-size: 12px;
  font-style: italic;
}

.right-column {
  grid-area: right-column;
  display: grid;
  align-content: center;
  padding-bottom: 50px;
  padding-top: 50px;
}

#preview {
  width: 300px;
  border: 1.5px solid #17a2b8;
  background-color: var(--previewBg);
  padding: 30px;
  position: relative;
}

.corner {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: 1.5px solid #17a2b8;
  background-color: #fff;
  position: absolute;
}

#corner-tl {
  top: -5px;
  left: -5px;
}

#corner-tr {
  top: -5px;
  right: -5px;
}

#corner-bl {
  bottom: -5px;
  left: -5px;
}

#corner-br {
  bottom: -5px;
  right: -5px;
}

#preview-shadow {
  background-color: var(--previewShadow);
  width: 300px;
  height: 180px;
  padding-left: 30px;
  padding-top: 30px;
}

.about-wraper{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  padding-top: 50px;
  padding-bottom: 50px;
  gap: 100px;
}

#skills{
  display: flex;
  background-color: var(--previewShadow);
  justify-content: space-evenly;
}

.social-contact{
  display: grid;
  align-content: center;
  text-align: center;
}

#fiverr-gig{
  width: 100%;
  border: 2px solid var(--borderColor);
  border-radius: 20px;
}

.socializing{
  display: flex;
  justify-content: space-evenly;
}

.socializing a{
  font-size: 1.5em;
}

.socializing a:hover{
  color: black;
}

@media screen and (max-width: 1200px) {
  .main-container {
    width: 95%;
  }
}

@media screen and (max-width: 1200px) {
  .intro-wraper {
    grid-template-columns: 1fr;
    grid-template-areas:
      "nav"
      "left-column"
      "right-column";
  }
  .right-column {
    justify-content: center;
  }
  .preview{
    padding-bottom: 80px;
    margin:30px;
  }
}
